{% extends 'base.html' %}
{% block content %}

<h1>Finch Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ bird.name }}</span>
        <p>Family: {{ bird.family }}</p>
        <p>Description: {{ bird.description|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'birds_update' bird.id %}">Edit</a>
        <a href="{% url 'birds_delete' bird.id %}">Delete</a>
      </div>
    </div>
  </div>
  <!-- New Markup Below -->
  <div class="col s6">
    <form action="{% url 'add_feeding' bird.id %}" method="POST">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add State">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>State Seen</th></tr>
      </thead>
      <tbody>
        {% for feeding in bird.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ bird.name }}'s feeding Spots</h3>
      {% if bird.toys.count %}
        {% for toy in bird.toys.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                Location: {{ toy.name }} || Color Code: <span style="color: {{ toy.color }}">{{ toy.color }}</span>
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'unassoc_toy' bird.id toy.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No feedings Reported</h5>
      {% endif %}
    </div>

    <div class="col s6">
      <h3>Available feedings to choose from</h3>
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                Location: {{ toy.name }} || Color Code: <span style="color: {{ toy.color }}">{{ toy.color }}</span> 
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_toy' bird.id toy.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>The {{bird.name}} has these feeding spots</h5>
      {% endif %}
    </div>
  </div>
    
  <script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    const selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}